.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
.layoutTitle {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
